.img{
    background-image: url(images/banner/banner2.png);
width: 100%;
height: 35%;
}
#head{
    padding: 20% 20% 20% 60%;
}
  button{
    background-color: #F15B22;
    border: 0;
    padding: 10px;
    border-radius: 10px;
  }  